.text-field{
    position: relative;
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 2px solid #BEBEBE;
    background: #E7E7E7;
    cursor: pointer;
}

.text-field:hover{
    background-color: #BEBEBE;
}

label:focus-within{
    border: 2px solid #47BA68;
    box-shadow: 0 0 2px #47BA68;
}


.input{
    width: 2rem;
    height: 2rem;
    z-index: 50;
    opacity: 1;
}

.input.green{
    background: #F77171;
}

.input.red{
    background: #47BA68;
}

.input.red.disable{
    z-index: 10;
    opacity: 0;
}

.tick-mark{
    position: absolute;
    top:25%;
    left:15px;
    z-index: 30;
}

.subdetails{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Months{
    color: #BEBEBE;
text-align: center;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 1.2rem */
}

.Amount{
    color: #BEBEBE;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.2rem */
}


.div-wrapper{
    top:0;
    position: absolute;
    left: 3.875rem;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    
}

.text-wrapper-4{
    background: #47BA68;
    padding: 0.0625rem 2.3rem;
    font-size: 0.9rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
}

.text-wrapper-4.red{
    background: #F77171;
}

.text-wrapper-4.green{
    background: #47BA68;
}


